<h1><%= @circuit.circuit %></h1>
<img class="col-7" src="<%= @circuit.img %>" alt="<%= @circuit.circuit %>">
<ul class="col-5">
  <li><%= @circuit.course %></li>
  <li><%= @circuit.root %>m</li>
  <li><%= @circuit.course_type %></li>
  <li><%= link_to @circuit.circuit, @circuit.site_link %></li>
</ul>
<h2><%= @circuit.circuit %>の口コミ</h2>
<div>
  
</div>