<div class="toppage-container">
  <div class="toppage-img">
    <div class="slides">
      <img class="slide" src="http://www.wallpaper-box.com/car/images/car60.jpg" alt="トップページの画像">
      <img class="slide" src="http://carchandaisuki.com/wp/wp-content/uploads/2018/08/p11.jpg" alt="トップページの画像">
      <img class="slide" src="https://cdn.snsimg.carview.co.jp/minkara/userstorage/000/023/811/350/3d8906568a.jpg?ct=f6ad9ba8d0ec" alt="トップページの画像">
      <img class="slide" src="https://images.pexels.com/photos/395222/pexels-photo-395222.jpeg?cs=srgb&dl=208-395222.jpg&fm=jpg" alt="トップページの画像">
      <img class="slide" src="http://st.gde-fon.com/wallpapers_original/559990_wrc_2001_mitsubishi_lancer_1617x1080_www.Gde-Fon.com.jpg">
    </div>
    <h1>Circuit Reviews</h1>
  </div>
  <div class="region-container">
    <h2 class="p-3 mt-5">地域別サーキット一覧</h2>
    <ul class="region m-0">
      <div class="circuit-list">
        <h3 id="chapter1">北海道・東北</h3>
        <% @circuits1.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
      <div class="circuit-list">  
        <h3 id="chapter2">関東</h3>
        <% @circuits2.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
      <div class="circuit-list">
        <h3 id="chapter3">中部</h3>
        <% @circuits3.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
      <div class="circuit-list">
        <h3 id="chapter4">近畿</h3>
        <% @circuits4.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
      <div class="circuit-list">
        <h3 id="chapter5">中国・四国</h3>
        <% @circuits5.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
      <div class="circuit-list">
        <h3 id="chapter6">九州</h3>
        <% @circuits6.each do |circuit| %>
          <li><%= link_to circuit.circuit, circuit_path(circuit) %></li>
        <% end %>
      </div>
    </ul>
  </div>
</div>