<ul class="list-unstyled">
  <% reviews.each do |review| %>
    <li class="media mb-3">
      <div class="media-body">
        <div class="review-container">
          <h4 class="m-0"><%= review.user.name %></h4>
          <p class="reviews-created"><%= review.created_at %></p>
          <h5 class="p-2 coment-container"><%= review.content %></h5>
        </div>
        <div class="pl-2">
          <% if current_user == review.user %>
            <%= link_to "削除", review, method: :delete, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @reviews %>
</ul>